{% extends 'blog/base.html' %}
{% load static %}

{% block title %}<title>About</title>{% endblock title %}

{% block content %}

 <div class="col-sm-12 my-4 p-4 rounded shadow "> 
    <h3 class="text-white mt-1 my-3  text-center ">About Us</h3>

    <div class="container">
        <!-- <h2>About</h2> -->
        <div class="media">
            <div class="media-left ">
                <img src="\static\blog\images\pic.jpg" class="media-object" style="width:60px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Suryabhan Kushwah</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ullam ipsum laboriosam eius. Saepe quas eaque unde voluptatum molestiae quasi facilis totam, consequatur odit ab, atque laborum dolore eos sed.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ullam ipsum laboriosam eius. Saepe quas eaque unde voluptatum molestiae quasi facilis totam, consequatur odit ab, atque laborum dolore eos sed.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ullam ipsum laboriosam eius. Saepe quas eaque unde voluptatum molestiae quasi facilis totam, consequatur odit ab, atque laborum dolore eos sed.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ullam ipsum laboriosam eius. Saepe quas eaque unde voluptatum molestiae quasi facilis totam, consequatur odit ab, atque laborum dolore eos sed.</p>
            </div>
        </div>

    </div>
        
</div> 
    
{% endblock content %}